body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgray;
}

.button{
    background-color: #092133;
    border: none;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

.header {
    text-align: center;
    background-color: red;
    height: 100px;
    vertical-align: middle;
    width: 100%;
}


.footer{
    text-align: center;
    background-color: red;
    height: 100px;
    vertical-align: middle;
    position: fixed;
    bottom: 0;
    width: 100%;
}

table{
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
}

th {
    border: 1px solid black;
    text-align: center;
}

tr, td{
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

a[href^="mailto:"]{ 
    font-family: Tahoma, Geneva, sans-serif;
    color: white;
  }
