body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lavender;
    margin: 0;
}

h1 {
    margin: 0;
}

.button{
    background-color: #240533;
    border: 6px black;
    border-radius: 8px;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

.header {
    text-align: center;
    background-color: #520B73;
    height: 100px;
    vertical-align: middle;
    width: 100%;
    color: white;
    border: 4px solid black;
}

.inputfield {
    height: 25px;
    width: 500px;
    border-radius: 8px;
    font-size: medium;
}

.dropdown {
    height: 32px;
    width: 300px;
    font-size: medium;
}

.buttoncolumn{
    width: 200px;
}

.footer{
    text-align: center;
    background-color: #520B73;
    height: 100px;
    vertical-align: middle;
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 4px solid black;
}

.task_completed{
    background-color: #6D0F99;
}

table{
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
}

th {
    border: 4px solid black;
    text-align: center;
    font-size: 24px;
    background-color: #520B73;
    color: white;
}

tr, td{
    border: 4px solid black;
    padding: 10px;
    text-align: left;
    font-size: 18px;
}

a[href^="mailto:"]{ 
    font-family: Tahoma, Geneva, sans-serif;
    color: white;
  }
